
.App {
  max-width: 1500px;
  margin: 0 auto;
  max-height: 100vh;


  @media only screen and (max-width: 1000px) {
    justify-content: center;
  }

}


body {
  background-image: url("../images/main_photo.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;

}