.details {
  margin: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 10px 20px grey;
  border-radius: 5px;
}

 .description h2{
    font-size: 4rem;
  }

.description p{
  font-size: 1.3rem;
  width: 600px;
}

p.average_note {
  font-size: 1.5rem;
  display: inline;
  width: 100%;
}

.star_icon {
  color: #f6bf0a;
  font-size: 1.4rem;
}

p.votes {
  display: inline;
  font-size: 1rem;
  width: 100%;
}

   .image-container {
     padding: 30px;

     & img {
       box-shadow: 15px 15px 20px grey;
       border-radius: 5px;
       width: 100%;
     }
   }

@media only screen and (max-width: 1200px) {
  .description h2{
    font-size: 3rem;
  }

  .description p{
    font-size: 1rem;

  }
}

@media only screen and (max-width: 1000px) {
  .details {
    padding-inline: 15px;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .description p {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .description h2{
    font-size: 2rem;
  }
}